body{
    background: yellow;

}
h1 {
    color: red;
    background: blue;
    text-align: center;
}

h2 {
    color: grey;
    background: green;
    text-align: center;
}

a {
    color: black;
    background: green;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
